.footer__bg{
    background: $cUglyPink;
    width: 100vw;
}

.footer {
    max-width: $abs-max-width;
    display:flex;
    flex-wrap: wrap;
    font-weight: bold;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
  }
.footer__col{
    display:flex;
    flex-direction: column;
    @media screen and (max-width: $break-medium){
        width: 50%;
    }
    @media screen and (min-width: $break-medium){
        width: 25%;
    }

    margin: 0 auto;

  }
  .footer__col h2{
      margin-top:$gutter;
      margin-bottom:$gutter;
  }
  .footer__link{
      color: $cUglyYellow;
      margin-bottom: $gutter/2;
  }
  .footer__link:hover{
      color: #000;
  }
  .footer_copyright{
    
    text-align: center;
  }
  